<a href="https://colab.research.google.com/github/reidnersousa/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [139]:
import pandas as pd


numero_1 = [11,2,10,7,24]
numero_2 = [25,20,16,15,29]
numero_3 = [26,29,22,16,40]
numero_4 = [59,33,69,61,68]
numero_5 = [68,46,76,62,76] 
ganhador = ["sim","sim","sim","sim","sim"]
dados = {
 'numero_1':numero_1,
 'numero_2':numero_2,
 'numero_3':numero_3,
 'numero_4':numero_4,
 'numero_5':numero_5,
 'v':ganhador
  }
pessoas = pd.DataFrame(dados)
display(pessoas)
#pessoas.to_csv('pessoas.csv')

print(type(pessoas))

   numero_1  numero_2  numero_3  numero_4  numero_5    v
0        11        25        26        59        68  sim
1         2        20        29        33        46  sim
2        10        16        22        69        76  sim
3         7        15        16        61        62  sim
4        24        29        40        68        76  sim

<class 'pandas.core.frame.DataFrame'>

In [141]:
from random import randrange, uniform


for i in range(10):
  nova_linha=[randrange(1,80),randrange(1,80),randrange(1,80),randrange(1,80),randrange(1,80),"nao"]
  pessoas=pessoas.append(pd.Series(nova_linha, index=pessoas.columns[:len(nova_linha)]), ignore_index=True)

In [142]:
pessoas['v']=pessoas['v'].replace('sim',0)
pessoas['v']=pessoas['v'].replace('nao',1)

pessoas

    numero_1  numero_2  numero_3  numero_4  numero_5  v
0         11        25        26        59        68  0
1          2        20        29        33        46  0
2         10        16        22        69        76  0
3          7        15        16        61        62  0
4         24        29        40        68        76  0
5         51        69        59        34        63  1
6         56        52        52        47        64  1
7         15        72        79        17         3  1
8         47        54        24        33        42  1
9         49        47         6        78        74  1
10        50        29        43        78        41  1
11        41        43        35        10        47  1
12        16        12        49        78        49  1
13        51        16        45        28         5  1
14        45        27        33        43        30  1
15        79        19        52        31        47  1
16        42         8        41        64        19  1
17        43        12        28        77        23  1
18        53        16        26        27        72  1
19        54        22        17         3        69  1
20         4        45        40        46        41  1
21         8        77        36        11         3  1
22        68        49        18        75        59  1
23        64        12        46        34        52  1
24         7        55        43        39        44  1

In [143]:
y = pessoas['v']
x = pessoas.drop('v',axis = 1)

In [144]:
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino,  y_teste=train_test_split(x,y,test_size=0.30)

In [145]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier(n_estimators=100)

modelo.fit(x_treino,y_treino)

resultado = modelo.score(x_teste,y_teste)
print("Acurácia",resultado)

Acurácia 0.875

In [ ]:
y_teste[0:2]

#display(y_teste)

3     0
11    1
Name: v, dtype: int64

In [ ]:
x_teste[0:2]

#display(x_teste)

    numero_1  numero_2  numero_3  numero_4  numero_5
3          7        15        16        61        62
11        64        76        40        49        76

In [ ]:
display(x_teste)

    numero_1  numero_2  numero_3  numero_4  numero_5
3          7        15        16        61        62
11        64        76        40        49        76
0         11        25        26        59        68
1          2        20        29        33        46
13        77        26         3        40        78

In [ ]:
previsoes = modelo.predict(x_teste[0:2] )
print(previsoes)

[0 1]

In [154]:
print(y_teste)
display(x_teste)

4     0
21    1
14    1
13    1
16    1
7     1
2     0
20    1
Name: v, dtype: int64

   numero_1  numero_2  numero_3  numero_4  numero_5
0        24        29        40        68        76
1         8        77        36        11         3
2        45        27        33        43        30
3        51        16        45        28         5
4        42         8        41        64        19
5        15        72        79        17         3
6        10        16        22        69        76
7         4        45        40        46        41
8        20        40        74        56        75
9        19        27        26        57        71

In [162]:
for i in range(10):
  nova_linha=[randrange(1,80),randrange(1,80),randrange(1,80),randrange(1,80),randrange(1,80)]
  x_teste=x_teste.append(pd.Series(nova_linha, index=x_teste.columns[:len(nova_linha)]), ignore_index=True)

x_teste

    numero_1  numero_2  numero_3  numero_4  numero_5
0         24        29        40        68        76
1          8        77        36        11         3
2         45        27        33        43        30
3         51        16        45        28         5
4         42         8        41        64        19
5         15        72        79        17         3
6         10        16        22        69        76
7          4        45        40        46        41
8         20        40        74        56        75
9         19        27        26        57        71
10        47        43        57        36        21
11        59        15        73        45        40
12        15        19        25        21        22
13        53        14         6        34        40
14        10        59        12        69         9
15        53        34        47         7        49
16        31        26         8        69        71
17        39        24        66        67        45
18        10        12        49        33        41
19        48        42         9         2        31
20        16        79        43        54        21

In [160]:
x_teste[-2:]

    numero_1  numero_2  numero_3  numero_4  numero_5
9         19        27        26        57        71
10        47        43        57        36        21

In [164]:
previsoes = modelo.predict(x_teste[-7:] )
print(previsoes)

[1 1 1 1 1 1 1]